<div class="c-subnav">
    <a ng-href="/#/report" class="c-subnav__link">
        <img src="images/icon-back.png" srcset="images/icon-back.png 1x, images/icon-back@2x.png 2x">Generate report
    </a>

    <div class="c-subnav__options">
    	<div class="o-form-group">
		    <div class="c-checkbox">
				<label>
					<input class="c-checkbox__input" type="checkbox">Show page numbers
				</label>
		    </div>
		</div>

		<div class="o-form-group">
		    <p>Logo: <i class="c-icon fa fa-question-circle"></i></p>
		    <file-input input-id="report-logo"></file-input>
	    </div>

	    <div class="o-form-group">
		    <p>Colors: <i class="c-icon fa fa-question-circle"></i></p>
		    <ul class="c-colors-list">
		    	<li>
		    		<colors title="Headlines" list="vm.colors.headlinesColors" selector=".c-chapter-item__headline"></colors>
		    	</li>
		    	<li>
		    		<colors title="Text" list="vm.colors.textColors" selector=".c-chapter-item__text"></colors>
		    	</li>
		    	<li>
		    		<colors title="Descriptions" list="vm.colors.descriptionsColors" selector=".c-chapter-item__desc"></colors>
		    	</li>
		    </ul>
	    </div>
    </div>
</div>

<div class="c-main">
    <div class="c-heading c-heading--highlighted">
        <h2>Custom report</h2>
        <p>
        	Here you can create your own report based on a selected or intersecting answers from the aggregated results.<br>
        	<br>
        	To add answers, simply go to the <a href>Aggregated results</a> and select <a href>Add to report</a>.
        </p>
    </div>
 
	<ul class="c-chapters-list" dnd-list="vm.report.chapters" dnd-allowed-types="['chapter']">
	    <li ng-repeat="chapter in vm.report.chapters" dnd-draggable="chapter" dnd-type="'chapter'" dnd-effect-allowed="move" dnd-moved="vm.report.chapters.splice($index, 1)">
	    	<div class="c-chapter" dnd-nodrag>
				<div class="c-chapter__top">
					<ul class="c-chapter__actions">
						<li dnd-handle class="c-chapter__drag"><ng-include src="'images/icon-chapter-drag.svg'"></ng-include></li>
						<li class="c-chapter__options">
							<ng-include src="'images/icon-chapter-settings.svg'"></ng-include>
							<ul>
								<li ng-click="vm.addPart(chapter)">Add part</li>
								<li ng-click="isChapterEditVisible = true">Edit chapter's title</li>
								<li ng-click="vm.removeChapter(chapter)">Remove chapter</li>
							</ul>
						</li>
					</ul>
					<div class="c-chapter__title">
						<span>{{ chapter.title }}</span>
					</div>
				</div>

				<div class="c-panel o-spacing-bottom" ng-show="isChapterEditVisible">
					<div ng-click="isChapterEditVisible = false" class="c-panel__close">
						<i class="fa fa-times"></i>
					</div>

					<div class="o-form-group">
						<label>Chapter's title:</label>
						<input type="text" ng-model="chapter.title" placeholder="Chapter title">
					</div>
				</div>

				<ul class="c-chapter__items" dnd-list="chapter.parts" dnd-allowed-types="['part']">
					<li ng-repeat="part in chapter.parts" dnd-draggable="part" dnd-type="'part'" dnd-effect-allowed="move" dnd-moved="chapter.parts.splice($index, 1)">
						<div class="c-chapter-item">
							<ul class="c-chapter-item__actions">
								<li ng-click="isPartEditVisible = !isPartEditVisible"><i class="fa fa-pencil"></i></li>
								<li ng-click="vm.removePart(chapter, part)"><i class="fa fa-trash"></i></li>
							</ul>
							<h3 class="c-chapter-item__headline" style="color: {{ vm.report.activeColors.headlinesColors }};">{{ part.headline }}</h3>
							<p class="c-chapter-item__text" style="color: {{ vm.report.activeColors.textColors }};">{{ part.text }}</p>
							<p class="c-chapter-item__desc" style="color: {{ vm.report.activeColors.descriptionsColors }};">{{ part.description }}</p>
						</div>
						<div class="c-panel o-spacing-top-half" ng-show="isPartEditVisible">
							<div ng-click="isPartEditVisible = false" class="c-panel__close">
								<i class="fa fa-times"></i>
							</div>

							<div class="o-form-group">
								<label>Headline:</label>
								<input type="text" ng-model="part.headline" placeholder="Headline">
							</div>

							<div class="o-form-group">
								<label>Text:</label>
								<input type="text" ng-model="part.text" placeholder="Text">
							</div>

							<div class="o-form-group">
								<label>Description:</label>
								<input type="text" ng-model="part.description" placeholder="Description">
							</div>
						</div>
					</li>
				</ul>
			</div>
		</li>
	</ul>

	<div class="c-add-chapter" ng-click="vm.addChapter()">Add chapter</div>

	<div class="c-panel">
		<div class="o-form-group">
			<label>Report name</label>
			<input type="text" placeholder="Set report name..." ng-model="vm.report.title">
		</div>

		<div class="o-form-group">
			<label>Export format</label>
			<select>
				<option value="">Set format</option>
				<option value="">PDF</option>
				<option value="">DOC</option>
			</select>
		</div>

		<div class="c-panel__separator"></div>
	
		<div class="u-text-center">
			<a ng-show="vm.report.status === 0" ng-click="vm.generate(vm.report)" class="c-button c-button--big">Generate</a>
			<a ng-click="vm.save(vm.report)" class="c-button c-button--big" ng-class="{ 'c-button--link': vm.report.status === 0 }">Save</a>
		</div>
	</div>
</div>