<div class="c-subnav">
    <a href class="c-subnav__link js-active">
        <img src="images/icon-notebook.png" srcset="images/icon-notebook.png 1x, images/icon-notebook@2x.png 2x">Report's list
    </a>

    <a ng-href="/#/report/generate" class="c-subnav__link">
        <img src="images/icon-dashboard.png" srcset="images/icon-dashboard.png 1x, images/icon-dashboard@2x.png 2x">Generate report
    </a>
</div>

<div class="c-main">
    <div class="c-heading">
        <h2>Reports list</h2>
        <p>Below you can find all reports that are associated with your active project.</p>
    </div>

    <h3 class="o-center-justify">
        <span>Your reports</span>
        <a ng-href="/#/report/generate" class="c-button c-button--small">Create new report</a>
    </h3>
    <div class="c-table c-table--reports o-spacing-bottom">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="u-text-center">Updated</th>
                    <th class="u-text-center">Status</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="report in vm.reports | filter: vm.reportsFilter | orderBy: updated:true">
                    <td><a ng-href="/#/report/generate/{{ vm.reports.indexOf(report) }}" class="u-color-brand">{{ report.title }}</a></td>
                    <td class="u-text-center">{{ report.updated | date:'dd/MM/yyyy' }}</td>
                    <td class="u-text-center" ng-class="{ 'u-color-blank': report.status === 1, 'u-color-success': report.status === 2 }">
                        <div ng-if="report.status === 1">Pending</div>
                        <div ng-if="report.status === 2">Ready</div>
                    </td>
                    <td>
                        <ul class="c-icons-list c-icons-list--align-right">
                            <li><a href><i class="c-icon c-icon--big fa fa-download"></i></a></li>
                            <li><a href ng-click="vm.remove(report)"><i class="c-icon c-icon--big fa fa-trash"></i></a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>Drafts</h3>
    <div class="c-table c-table--drafts">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="u-text-center">Status</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="report in vm.reports | filter: vm.draftsFilter">
                    <td><a ng-href="/#/report/generate/{{ vm.reports.indexOf(report) }}" class="u-color-brand">{{ report.title }}</a></td>
                    <td class="u-text-center u-color-blank">Draft</td>
                    <td>
                        <ul class="c-icons-list c-icons-list--align-right">
                            <li><a href><i class="c-icon c-icon--big fa fa-download"></i></a></li>
                            <li><a href ng-click="vm.remove(report)"><i class="c-icon c-icon--big fa fa-trash"></i></a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>