<div class="c-color">
	<div class="c-color__name " ng-class="{ 'c-color__name--light-text': activeColor.lightText }" style="background-color: {{ activeColor.hex }};" ng-click="isCollapsed = !isCollapsed">{{ title }}</div>
	<div class="c-color__panel" ng-show="isCollapsed">
		<span class="c-color__title">Choose color:</span>
		<ul class="c-color__list">
			<li ng-repeat="color in list">
				<div class="c-color__item" ng-class="{ 'js-active': color.active }" ng-click="updateColor(color)" style="background-color: {{ color.hex }};"></div>
			</li>
		</ul>
	</div>
</div>