<input id="{{ inputId }}" type="file" class="u-hidden">
<label for="{{ inputId }}" class="c-file-input">
	<div class="c-file-input__button">Browse</div>
	<div class="c-file-input__text">
		<span ng-if="!fileName">Choose file</span>
		<span ng-if="fileName">{{ fileName }}</span>
	</div>
</label>