// Box-sizing
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
    font-family: 'Open Sans', sans-serif;

    color: $color-text;

    background-color: #f9f9f9;
}

a {
	text-decoration: none;
}

label {
	display: block;
	margin-bottom: $baseline;

	font-size: 14px;
	line-height: $baseline * 2;
}

input[type="text"],
select {
	width: 100%;
	height: 38px;
	padding: 0 20px;
}

input[type="text"] {
	color: $color-brand;
	font-size: 12px;

	border: 1px solid #ddd;
	border-radius: 4px;
}

select {
	@include appearance;
	max-width: 340px;

	color: $color-blank;
	font-size: 14px;

	border: 1px solid #ccc;

	background: url('../images/select-arrows.svg') center right 12px no-repeat;
}