.c-add-chapter {
	@extend .o-spacing-bottom;
	margin-top: -$spacing/2;
    padding: 10px 15px;

	color: $color-brand;
	font-size: 15px;
	line-height: $baseline * 3;
	text-align: center;

	border: 1px dashed #e0e0e0;
	border-radius: 4px;

	cursor: pointer;
}