.c-button {
	display: inline-block;
	height: 38px;
	line-height: 38px;
	padding: 0 15px;

	color: #fff;
    font-size: 15px;

    background-color: $color-brand;
    border: 0;
    border-radius: 4px;

    cursor: pointer;

    &--small {
		height: 20px;
		padding: 0 10px;
	
		font-size: 11px;
    	line-height: 20px;
    }

    &--big {
    	height: 48px;
    	padding: 0 20px;

    	line-height: 48px;
    }

    &--link {
		color: $color-brand;

    	background-color: transparent;
    }
}