.c-chapters-list {
	> li {
		@extend .o-spacing-bottom;

		&.dndPlaceholder {
			@extend %o-border;
			min-height: 200px;

			background-color: rgba($color-blank, .1);
			border-radius: 4px;
		}

		&.dndDraggingSource {
			display: none;
		}
	}
}