.c-color {
	position: relative;
	&__name {
		display: block;
		height: 38px;
		padding: 0 20px;

		font-size: 12px;
		line-height: 38px;

		border-radius: 4px;

		cursor: pointer;

		&--light-text {
			color: #fff;
		}
	}

	&__panel {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	&__title {
		display: block;
		margin-bottom: 8px;

		font-size: 13px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -2px;
		> li {
			padding: 0 2px;
		}
	}

	&__item {
		width: 28px;
		height: 28px;

		border-radius: 50%;
		border: 2px solid rgba(#fff, .3);

		cursor: pointer;

		transition: transform .2s ease-in-out;

		&:hover {
			border-color: #fff;

			box-shadow: 0 3px 4px rgba(#000, .2)
		}

		&.js-active {
			border-color: #fff;

			transform: scale(1.2);
			box-shadow: 0 3px 4px rgba(#000, .2);
		}
	}
}