.c-chapter {
	padding: 0 15px 15px;
	@extend %o-border;

	&__top {
		height: 52px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	&__actions {
		display: flex;
		height: 100%;
		padding: 10px 0;
		position: absolute;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;

		> li {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 32px;

			&:hover {
				svg {
					fill: $color-brand;
				}
			}

			svg {
				fill: $color-blank;
			}
		}
	}

	&__drag {
		cursor: -webkit-grab; cursor: -moz-grab;
	}

	&__options {
		position: relative;

		&:hover {
			> ul {
				display: block;
			}
		}

		> ul {
			display: none;
			width: 160px;
			padding: 10px;
			position: absolute;
			top: 100%;
			left: 0;

			color: #fff;
			font-size: 13px;
			line-height: $baseline * 2;

			background-color: $color-accent;
			border-radius: 4px;

			> li {
				padding: 5px 0;

				white-space: nowrap;
				cursor: pointer;
			}
		}
	}

	&__title {
		color: #aaa;
		text-transform: uppercase;
	}

	&__items {
		min-height: 20px;
		
		> li {
			margin-bottom: $baseline * 3;

			&:last-child {
				margin-bottom: 0;
			}

			&.dndPlaceholder {
				min-height: 140px;

				background-color: $color-blank;
				border-radius: 4px;
			}

			&.dndDraggingSource {
				display: none;
			}
		}
	}
}