.c-chapter-item {
	padding: $spacing;
	position: relative;

	background-color: #fff;
	border-radius: 4px;

	box-shadow: 0 2px 4px rgba(#000, .15);

	&__desc {
		font-size: 12px;
	}

	&__actions {
		display: flex;
		position: absolute;
		top: 2px;
		right: 2px;
		visibility: hidden;

		> li {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 34px;
			height: 30px;

			color: #fff;

			background-color: $color-brand;

			cursor: pointer;

			&:first-child {
				border-bottom-left-radius: 4px;
			}
		}
	}

	&:hover {
		padding: $spacing - 2px;

		border: 2px solid $color-brand;

		.c-chapter-item {
			&__actions {
				top: 0;
				right: 0;
				visibility: visible;
			}
		}
	}
}