.c-file-input {
	width: 100%;
	height: 38px;

	border-radius: 4px;

	&__text {
		height: 100%;
		padding-left: 20px;
		overflow: hidden;

		line-height: 36px;
		text-overflow: ellipsis;
		white-space: nowrap;

		background-color: #fff;
		border: 1px solid #ddd;
		border-right: 0;
		border-top-left-radius: 4px;
	    border-bottom-left-radius: 4px;
	}

	&__button {
		height: 100%;
		line-height: 38px;
		padding: 0 10px;
		float: right;

		color: #fff;
	    font-size: 15px;

	    background-color: #00bfa5;
	    border: 0;
	    border-top-right-radius: 4px;
	    border-bottom-right-radius: 4px;
	}
}