.c-header {
	display: flex;
	align-items: center;
	width: 100%;
    height: $header-height;
    padding: 10px 20px;
    padding-left: $sidebar-width + 20px;
    padding-right: 20px;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    
    vertical-align: middle;

	background-color: $color-bg;
	border-bottom: 1px solid #e0e0e0;

	&__title {
		color: $color-brand;
	    font-size: 15px;
	    font-weight: 600;

	    >span {
	    	color: #97b1bd;
	    }
	}

	&__label {
		margin: 0 10px;
	}

	&__icon {
		margin-right: 12px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__new-project {
		margin-left: auto;
	}
}