.c-heading {
	margin-bottom: $baseline * 5;

	&--highlighted {
		margin-top: -40px;
		margin-left: -40px;
		margin-right: -40px;
		padding: 40px;

		color: #fff;

		background-color: $color-brand;

		a {
			color: $color-text;
		}
	}
}