.c-label {
	display: inline-block;
    padding: 5px 10px;

    color: #fff;
    font-size: 11px;
    line-height: 1;

    border-radius: 3px;

    &--gray {
    	background-color: $color-blank;
    }
}