.c-panel {
	padding: $spacing/2 $spacing;
	position: relative;

	@extend %o-border;

	background-color: #f5f5f5;

	&__close {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 35px;
		height: 30px;
		position: absolute;
		top: 0;
		right: 0;

		color: $color-blank;

		cursor: pointer;
	}

	&__separator {
		height: 1px;
		margin: $spacing/2 (-$spacing);

		background-color: #ddd;
	}
}