.c-subnav {
	width: $subnav-width;
	position: fixed;
	top: $header-height;
	bottom: 0;
	left: $sidebar-width;
	z-index: 800;
	overflow-y: auto;

	background-color: #eee;
	border-right: 1px solid #e0e0e0;

	&__link {
		display: flex;
		align-items: center;
		height: 70px;
		padding: 0 20px;

		color: #032c3e;
		font-size: 14px;

		border-bottom: 1px solid #e0e0e0;

		&:hover {
			background-color: #fff;
		}

		>img {
			margin-right: 13px;
		}

		&.js-active {
			background-color: #fff;
		}
	}

	&__options {
		padding: 20px;
	}
}