.c-sidebar {
	height: 100%;
	width: $sidebar-width;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;

	color: #97b1bd;

	background-color: $color-accent;
	
	&__welcome {
		padding: 20px;
		margin-bottom: 20px;

		font-size: 12px;
		line-height: 1.2;
  
		span {
			display: block;
			margin-bottom: 5px;
		}

		a {
			color: #97b1bd;
		}
	}

	&__logo {
		  display: block;
		  width: 29px;
		  height: 24px;
		  margin-bottom: 13px;

		  background: url('../images/logo.png');
		  background-size: 100%;
	}

	&__link {
		display: block;
		height: 40px;
		padding: 0 20px;

		color: #96b1c2;
		line-height: 40px;
		font-size: 12px;

		transition: 0.25s ease-in-out padding;

		&:hover {
			padding-left: 25px;

			color: #fff;

			background-color: $color-brand;
		}

		&--highlighted {
			color: #98b1d4;
			font-size: 14px;

			background-color: #224250;

			&.js-active {
				color: #fff;

				background-color: $color-brand;
			}
		}
	}
}