.c-table {
	width: 100%;

	font-size: 12px;
    line-height: $baseline * 2;
	text-align: left;

    @extend %o-border;

    > table {
    	width: 100%;

        table-layout: fixed;

    	> thead {
    		background-color: #f5f5f5;
    	}

    	th {
    		padding: 13px 20px;
    		vertical-align: middle;

    		color: $color-blank;
    	}

    	td {
    		padding: 20px;
    	}
    }

    &--reports {
        > table {
            th {
                &:nth-child(2) {
                    width: 200px;
                }

                &:nth-child(3) {
                    width: 150px;
                }

                &:nth-child(4) {
                    width: 100px;
                }
            }
        }
    }

    &--drafts {
        >table {
            th {
                &:nth-child(2) {
                    width: 150px;
                }

                &:nth-child(3) {
                    width: 100px;
                }
            }
        }
    }
}