h2 {
	margin-bottom: $baseline * 2;

	font-size: 18px;
	line-height: $baseline * 3;
}

h3 {
	margin-bottom: $baseline;

	font-size: 15px;
	line-height: $baseline * 3;
}

p {
	margin-bottom: $baseline;

	font-size: 14px;
	line-height: $baseline * 2;
}

table {
	
}