// Spacings
$spacing: 40px;


// Colors
$color-brand: #00bfa5;
$color-accent: #032c3e;

$color-text: $color-accent;
$color-bg: #f9f9f9;

$color-blank: #aaa;


// Typography
$baseline: 8px;


// Components

// Sidebar
$sidebar-width: 140px;

// Header
$header-height: 60px;

// Subnav
$subnav-width: 230px;